@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: Poppins;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: white;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
  margin: 50px;
  padding: 25px;
}

.search-wrapper {
	margin-top: 65px;
	display: flex;
	flex-direction: column;
	padding: 65px;
}

#main {
    justify-content: center;
    font-size: large;

}

.about {
    padding: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.decorated {
    text-decoration: black wavy underline;
    margin-bottom: 25px;

}

.statement {
    padding: 50px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    gap: 10px;

}

.statement img {
    height: 150px;
    width: 150px;
    border-radius: 360%;
    justify-self: center;
    align-self: center;
}

.statement p {
    align-content: center;
    max-width: 500px;
}

footer {
    background-color: black;
    color: #eee;
    padding: 10px;
}

ul {
    line-height: 2;
}

@media screen and (max-width: 568px){

    .statement {
        flex-direction: column;
        
    }

    .statement img {
        align-self: center;
        margin-bottom: 25px;
    }
    
}

@media screen and (max-width: 300px) {

    .about ul {
        font-size: small;
    }
    
    .statement p {
        font-size: small;
    }
}