@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: Poppins;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: white;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
  margin: 50px;
  padding: 25px;
}
/*End Starter CSS*/

#nav-container {
    margin-top: 56px;
}

.result-box {
    position: absolute;
    width: 207px;
    max-height: 300px;
    overflow-y: scroll;
  }
  
.result-box ul {
    border: 1px solid #999;
    border-radius: 0.375rem;
    padding: 0;
    background-color: white;
  }
  
  .result-box ul li {
    list-style: none;
    border-top: 1px solid black;
    border-radius: 0.375rem;
    padding: 5px 10px;
    cursor: pointer;
    background-color: white;
  }
  
  .result-box ul li:hover {
    background: grey;
  }

  .hero-banner {
    display: flex;
    margin-top: 55px;
    background-image: url("../images/pexels-victor-freitas-841130.jpg");
    height: 500px;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
    
  }

  .exercise-cards-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    background-color: #151b1c;
    color: #eee;
  }
  
  .exercise-cards-card-image {
    padding: 0;
    height: 200px;
    object-fit: cover;
    filter: brightness(70%);
  }
  
  .exercise-cards-card-title {
    margin-top: .25rem;
    margin-bottom: .25rem;
    font-size: 1.25rem;
    padding: 0 10px 0 10px;
    text-align: center;
  }
  
  .exercise-cards-card-hr {
    color: black;
    
  }
  
  .exercise-cards-card-description {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 10px 0 10px;
    text-align: center;
  }

  .exercise-cards-card-description label {
    color: orangered;
  }

  .exercise-cards-card-description p {
    font-size: small;
  }
  
  .exercise-cards-card-button-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 20px;

  }
  
  .exercise-cards-card-button {
    width: 100%;
    height: 35px;
    border: none;
    color: #eee;
    filter: brightness(1);
    background-color: #1F282A;
  
  }
  
  .exercise-cards-card-button:hover {
    background-color: #2E3C3F;
  }

  .section-type-1 {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr;
    font-size: 1em;
    padding: 50px;
  }

  .section-img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }

  .section-content {
    text-align: center;
    line-height: 2;
    align-content: center;

  }

  .section-content h3 {
    margin-bottom: 50px;
    text-decoration: black wavy underline;
  }

  .section-type-2 {
    background-color: lightgrey;
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr;
    flex-direction: column-reverse;
    padding: 50px;
    font-size: 1em;
  }

  .section-type-3 {
    background-image: url(../images/treadmill.jpg);
    background-position: center;
    color: white;
    font-size: 1em;
    height: 300px;
  }

  .blur-colored {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    height: 100%;
    justify-content: center;
    align-content: center;
  }

  .blur-colored h3 {
    margin-bottom: 25px;
    font-size: 22px;
  }

  .section-type-4 {
    width: 100%;
    padding: 50px;
    background-color: lightgray;
    
  }

  .contain-preview {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
  }

  .section-type-5 {
    padding: 50px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
  }

  .section-type-6 {
    padding: 50px;
  }

.decorated{
    overflow: hidden;
    text-align: center;
}
.decorated > span{
   position: relative;
   display: inline-block;
}
.decorated > span:before, .decorated > span:after{
   content: '';
   position: absolute;
   top: 50%;
   border-bottom: 2px solid;
   width: 100vw;
   margin: 0 20px;
}
.decorated > span:before{
   right: 100%;
}
.decorated > span:after{
   left: 100%;
}


  @media screen and (max-width: 724px) {
    .section-type-1 {
      grid-template-columns: 1fr;
    }

    .section-type-2 {
      grid-template-columns: 1fr;
      

    }

    .section-type-3 {
      height: auto;
    }

    .blur-colored {
      grid-template-columns: 1fr;

    }

    .section-type-5 {
      grid-template-columns: 1fr;
    }

    .contain-preview {
      grid-template-columns: 1fr;
    }

  }

  @media screen and (min-width: 725px) {

    .contain-preview {
      grid-template-columns: 1fr 1fr;
    }

  }

  @media screen and (min-width: 1410px) {

    .contain-preview {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

  }